h1 {
    background-color: rgb(158, 155, 0);
    color: white;
    text-align: center;
    padding: 2%;
    margin:0
}
body {
    margin: 0;
    background-color: rgb(228, 215, 215);
    text-align: center;
}

.actions {
    text-align: center;
    box-sizing: border-box;
    border: 1px black solid;
    max-width: 60%;
    padding: 2%;
    margin-left:20%
}

.stats {
    max-width: 60%;
    padding: 2%;
    margin-left:20%;
    text-align: center;
    font-size: large;
}

.action {
    font-size: large;
    margin: 2%;
    color: white;
    background-color: brown;
}